<ion-view class="bg-calm {{designTemplate.background}}">
    <ion-header-bar class="bar-calm">
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-include="designTemplate.logo"></div>
        
        <div ng-include="designTemplate.slider"></div>
        
        <div ng-include="designTemplate.input"></div>
        
        <div class="padding-vertical text-center">-0r-</div>
        
        <div ng-include="designTemplate.social"></div>
    </ion-content>
</ion-view>
